body {
  background: #D291BC;
  /* The above is called a hex code.
     There are two other ways to do colors in CSS: rgb and common names
     Find "Digital Color Meter" on your computer to explore more */
  color: black;
  font-size: 16px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

ul {
  padding:0;
}


#toc {
    position: fixed;
    top: 1em;
    right: 1em;
    /* a background color might help it be differentiated from the rest */
    background: black;
    /* that means you'll have to change the color of the text */
    color: #D291BC;
    /* some padding might make it look better */
    padding: 1em 2em 1em 2em;
    /* maybe making the font size here smaller will help too */
    font-size: 0.7em;
}

 #toc ul {
  padding: 0;
  list-style-type: none;
  /* you could also change the type of bullet with the above declaration! */
}

ul li:before {
		content: "\2665";
    color: yellow;
    padding-right: 16px;
	     }


a {
  color: #D291BC;
  text-decoration: none;
  /* By default, links are blue and have an underline.
     The above CSS changes both those things. */
}

a:hover {
  color: yellow;
}

#container {
  max-width: 700px;
  /* I put "max-width" rather than "width" because
 if the screen width is less than 650px, it will shrink accordingly. */
}
img {
  max-width: 75%;
}


h1 {
  font-weight: 900;
  font-style: normal;
  font-size: 40px;
  font-stretch: expanded;
  font-family: monotype-modern-display, sans-serif;
}
h2 {
  font-size: 20px;
}
#images {
  display:flex;
}

#images img {
  margin: 20px 20px 20px 20px;
}

#images2 {
  display:flex;
}

#images2 img {
  margin-left: 20px;
}

.center-div
{
     margin: 100px;
     width: 600px;
}

img {
  max-width: 75%;
  animation: huerotate 1s linear infinite;
}

@keyframes huerotate {
  from {
    filter: hue-rotate(0deg)
  }
  to {
    filter: hue-rotate(360deg);
  } /*thanks to greg for helping me with this!/*
