body {
    background: #white;
}
#desktop {
    color: white;
    display: block;
    margin: 80px;
    max-height: 75%;
}
img {
    width:75%;
    height: 50%;
    margin-top:0px;
    position: relative;
}

#tablet,
#mobile,
#print {
    display: none;
}
/* tablet */
@media (min-width: 670px) and (max-width: 1024px) {
    body { color: white;
    }
    #tablet {
        color: white;
        display: block;
        flex-direction: column;
        text-align: center
    }
    #desktop,
    #mobile,
    #print {
        display: none;
    }
    img {width:20%;
    height: 25%;
    position: relative;
    margin-top:60px;
}
}
/* mobile */
@media (max-width: 670px) {
    body {
        background: white;
    }
    #mobile {
        display: block;
        color: black;
        max-height: 75%;
    }
    img {width:75%;
    height: 50%;
    margin-top:60px;}
    #desktop,
    #tablet,
    #print {
        display: none;
    }
}
/* print */
@media print {
    body {
        background: white;
    }
    #print {
        display: inline;
        color: black;
    }
img {width:75%;
    height: 50%;
    margin-top:0px;}
    #desktop,
    #tablet,
    #mobile {
        display: none;
    }
}
