/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: absolute;
        background: white;
        z-index: -1;
}

/* shapes */
/* #circle {
        width: 150px;
        height: 150px;
        background: red;
        border-radius: 75px;
} */
img {
    max-width: 150px;
    position: absolute;
          top: 75px;
          left: 175px;
}

#horizontal {
        padding-left:250px;
        transition: padding-left 1s ease;
        z-index: 16;
}
#vertical {
        padding-left:0px;
        transition: padding-left 1s ease;
        z-index: 18;
        position: relative;
}

#horizontal:hover #stripea, #horizontal:hover #stripeb, #horizontal:hover #stripec {
  width: 500px;
}

#vertical:hover #striped, #vertical:hover #stripee, #vertical:hover #stripef {
  width: 166.66px;
}

#ashokawheel {
  z-index: 16;
}

#horizontal:hover + #ashokawheel {
  z-index: 19;
}

#horizontal:hover {
  padding-left: 0;
  position: absolute;
  z-index: 18;
}
#vertical:hover {
  padding-left:0;
  position: absolute;
  z-index:20;
}

#vertical {
  z-index: 17;
}

#stripea {
        width:  250px;
        height: 100px;
        background: #F47421;
        transition: width 1s ease;
}
#stripeb {
        width:  250px;
        height: 100px;
        background: white;
        transition: width 1s ease;
}
#stripec {
        width:  250px;
        height: 100px;
        background: #019548;
        transition: width 1s ease;
}

#striped {
        width:  83.33px;
        height: 300px;
        background: #019548;
        float:left;
        transition: width 1s ease;
}
#stripee {
        width:  83.33px;
        height: 300px;
        background: white;
        float:left;
        transition: width 1s ease;
}
#stripef {
        width:  83.33px;
        height: 300px;
        background: #F47421;
        float:left;
        transition: width 1s ease;
}
